
Addons/MSG_System/themes/choice_button_theme.tres
Addons/MSG_System/sfx/dialogue_sound.wav.import
Addons/MSG_System/sfx/dialogue_sound.wav
Addons/MSG_System/sfx/click_03.wav.import
Addons/MSG_System/sfx/click_03.wav
Addons/MSG_System/sfx/click_02.wav.import
Addons/MSG_System/sfx/click_02.wav
Addons/MSG_System/sfx/click_01.wav.import
Addons/MSG_System/sfx/click_01.wav
Addons/MSG_System/scripts/MSG_Parser.gd
Addons/MSG_System/scripts/MSG_Bubble.gd
Addons/MSG_System/scripts/MSG_Box.gd
Addons/MSG_System/scripts/item_message.gd
Addons/MSG_System/scripts/choice_button.gd
Addons/MSG_System/other/timer.tscn
Addons/MSG_System/other/timer.gd
Addons/MSG_System/MSG_Parser.tscn
Addons/MSG_System/MSG_Options.tscn
Addons/MSG_System/MSG_Bubble.tscn
Addons/MSG_System/MSG_Box.tscn
Addons/MSG_System/img/window_triangle_2.png.import
Addons/MSG_System/img/window_triangle_2.png
Addons/MSG_System/img/window.png.import
Addons/MSG_System/img/window.png
Addons/MSG_System/fonts/open_sans/OpenSans-SemiBoldItalic.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-SemiBold.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-Regular.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-LightItalic.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-Light.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-Italic.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-ExtraBoldItalic.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-ExtraBold.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-BoldItalic.ttf
Addons/MSG_System/fonts/open_sans/OpenSans-Bold.ttf
Addons/MSG_System/fonts/font_normal.tres
Addons/MSG_System/fonts/font_mono.tres
Addons/MSG_System/fonts/font_italics.tres
Addons/MSG_System/fonts/font_bold_italics.tres
Addons/MSG_System/fonts/font_bold.tres
Addons/MSG_System/choice_button.tscn
